/* Global */

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-stretch: semi-expanded;
    padding-left: 40px;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}


